name: CI/CD TP8 - Front/Back + QA

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_BACKEND: ghcr.io/soficuozzo/tp8-backend
  IMAGE_FRONTEND: ghcr.io/soficuozzo/tp8-frontend

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      # ========= BACKEND =========
      - name: Build backend QA image
        run: |
          docker build \
            -t $IMAGE_BACKEND:qa \
            ./backend

      - name: Push backend QA image
        run: docker push $IMAGE_BACKEND:qa

      # ========= FRONTEND =========
      - name: Build frontend QA image
        run: |
          docker build \
            -t $IMAGE_FRONTEND:qa \
            ./frontend

      - name: Push frontend QA image
        run: docker push $IMAGE_FRONTEND:qa

  deploy-qa:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Render backend QA deploy
        run: curl -X POST "${{ secrets.RENDER_WEBHOOK_BACK_QA }}"

      - name: Trigger Render frontend QA deploy
        run: curl -X POST "${{ secrets.RENDER_WEBHOOK_FRONT_QA }}"
