name: CI/CD - TP8

on:
  push:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # ---------- BACKEND TESTS ----------
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install backend deps
        working-directory: backend
        run: npm ci

      - name: Run backend tests
        working-directory: backend
        run: npm test

      # ---------- FRONTEND TESTS ----------
      - name: Install frontend deps
        working-directory: frontend
        run: npm ci

      - name: Run frontend tests
        working-directory: frontend
        run: npm test

  docker-build-push:
    needs: build-test
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    strategy:
      matrix:
        env: [qa, prod]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # ----------------- BACKEND IMAGE -----------------
      - name: Build backend image
        run: |
          docker build backend \
            -t ghcr.io/${{ github.repository_owner }}/tp8-backend:${{ matrix.env }}

      - name: Push backend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/tp8-backend:${{ matrix.env }}

      # ----------------- FRONTEND IMAGE -----------------
      - name: Build frontend image
        run: |
          docker build frontend \
            -t ghcr.io/${{ github.repository_owner }}/tp8-frontend:${{ matrix.env }}

      - name: Push frontend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/tp8-frontend:${{ matrix.env }}
